
* {
    box-sizing: border-box;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (min-width: 600px) {
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }
}

[class*="col-"] {
    float: left;
    padding: 15px;
}


@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

.header ul li {
    display: inline-block;
}


.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
}

.header ul li a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.left ul {
    list-style: none;
    display: inline;
    margin-left: 25px;
    text-align: center;
}

.left ul li {
    margin-top: 2em;
}

.left ul li a {
    text-decoration: none;
}

.left {
    background-color: rgb(241, 241, 241);
    min-height: 100%;
}

.box {
    width: 100px;
    height: 50px;
    background-color: #333333;
    margin: 50px 50px;
    text-align: center;
    padding: 15px;
}

.row {
    height: 580px;
    margin: 0;
}

.right {
    margin-right: 0;
    background-color: rgb(241, 241, 241);
    min-height: 100%;
}

.footer {
    background-color: black;
    height: 30px;
    color: white;
    text-align: center;
    float: left;
    width: 100%;
}
